[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
	sync = !git pull --rebase && git push
[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDpW/soFiCrttzvsERgdEIzsYcGlRrfu1LH7g8aTSlE0
	name = Adrian Lam
	email = me@adrianlam.sh
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = ~/.config/git/allowed_signers
[commit]
  gpgsign = true
	verbose = true
[core]
  pager = delta
	fsmonitor = true
	untrackedCache = true
[interactive]
  diffFilter = delta --color-only
# Linear theme for delta
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  dark = true
  syntax-theme = Linear
  file-style = "#8c97ff" bold
  file-decoration-style = "#8c97ff" ul
  hunk-header-style = "#b5bccb" italic
  hunk-header-decoration-style = "#252936" box
  plus-style = syntax "#143023"
  plus-emph-style = syntax "#1f4a32"
  minus-style = syntax "#3a1d20"
  minus-emph-style = syntax "#52292c"
  # Line numbers
  line-numbers-minus-style = "#ff7e78"
  line-numbers-plus-style = "#69c967"
  line-numbers-zero-style = "#636b7b"
  line-numbers-left-style = "#636b7b"
  line-numbers-right-style = "#636b7b"
  # Blame
  blame-palette = "#17181d" "#1b2130" "#22273a"
[pull]
  rebase = true
[fetch]
  prune = true
  prunetags = true
	fsckObjects = true
[init]
  defaultBranch = main
[rerere]
  enabled = true
	autoupdate = true
[diff]
  algorithm = histogram
  colorMoved = default
	mnemonicPrefix = true
[rebase]
  autoStash = true
  updateRefs = true
[branch]
  sort = -committerdate
[tag]
  sort = -version:refname
[merge]
  conflictstyle = zdiff3
[push]
  autoSetupRemote = true
	followTags = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[status]
	short = true
[column]
	ui = auto
[help]
	autocorrect = prompt
[log]
	date = iso
[submodule]
	recurse = true
[transfer]
	fsckObjects = true
[receive]
	fsckObjects = true
